html {
    box-sizing: border-box;
    font-size: 100%;
}
*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
#cart-main {
}
.title {
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin:20px;
}
.checkbox {
    display: flex;
    align-items: center;
}
.col_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1000px;
    margin-top: 20px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.col_1 > img {
    width:200px;
    height:200px;
}
.col_1 > .details {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin-left: 10px;
}
.col_1 > .details > input {
    display: block;
    width: 50px;
    height:20px;
    text-align: center;
}
.col_1 > .price {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    margin-left: 10px;
    margin: 20px 0;
}
.col_1 > .price > h3 {
    color: rgb(192, 84, 84);
}
.col_1 > .details > #del {
    cursor: pointer;
    font-weight: bold;
}

.col_2 {
    border: 2px solid rgb(192, 192, 192);
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    padding: 30px;
    border-radius: 5px;
}
.col_2 > .title {
    font-size: 25px;
    margin-bottom: 10px;
}
.total_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.col_2 > .total_container > .total > h3 {
    font-size: 13px;
    font-weight: 400;
}
.col_2 > .total_container > .total_details > h3 {
    font-size: 13px;
    font-weight: 400;
}
.total_container > .total > h3:nth-child(2) {
    border-bottom: 2px solid gray;
}
.total_container > .total_details > h3:nth-child(2) {
    border-bottom: 2px solid gray;
}
 #amount {
    color: rgb(192, 84, 84);
}
.col_2 > button {
    margin: 10px;
    width: 200px;
    height: 50px;
}

/*  success_page  */

.success_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-betwee; */
}
.success_container > h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.success_container > button {
    width: 200px;
    height: 50px;
    border: none;
    margin-top: 20px;
    font-size: 1rem;
    
    background-color: rgb(96, 226, 96);
    cursor: pointer;
}
 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
